// color
$dark: #101010
$light: #ffffff
$active: #1E4C82
$brend-first: #712F9D
$brend-second: #C2C4EC
$success: #25dbdb
$error: #d22b4d

// default
$defaultOffset: 8px
$defaultRadius: 16px
$defaultSize: 128px

// offsets
$sectionOffset: $defaultOffset * 16
$pageHeadOffset: $defaultOffset * 12
$articleOffset: $defaultOffset * 8
$categoryHeadOffset: $defaultOffset * 4
$elementOffset: $defaultOffset * 3
$insideElementOffset: $defaultOffset * 2

// effects
$elementSize: 8px 16px
$linkSize: 8px
$defaultShadow: 0px 4px 12px rgba(30, 76, 130, 0.5)

// fonts
$regular: 'Circe', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
$bold: 'Circe Bold', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
$extrabold: 'Circe ExtraBold', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"