@font-face {
  font-family: 'imoc-iconfont';
  src: url('iconfont/imoc-iconfont.eot?42978754');
  src: url('iconfont/imoc-iconfont.eot?42978754#iefix') format('embedded-opentype'),
       url('iconfont/imoc-iconfont.woff2?42978754') format('woff2'),
       url('iconfont/imoc-iconfont.woff?42978754') format('woff'),
       url('iconfont/imoc-iconfont.ttf?42978754') format('truetype'),
       url('iconfont/imoc-iconfont.svg?42978754#imoc-iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  font-family: "imoc-iconfont";
  font-style: normal;
  font-weight: normal;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-map-marker:before { content: '\e802'; } /* '' */
.icon-eye:before { content: '\e803'; } /* '' */
.icon-more:before { content: '\e804'; } /* '' */
.icon-chart:before { content: '\e805'; } /* '' */
.icon-skype:before { content: '\e806'; } /* '' */
.icon-down-arrow:before { content: '\e807'; /* image-rendering: -webkit-optimize-contrast; */transform: revert;} /* '' */
.icon-website:before { content: '\e808'; } /* '' */
.icon-phone:before { content: '\e809'; } /* '' */
.icon-vk:before { content: '\e80a'; } /* '' */
.icon-mail:before { content: '\e80b'; } /* '' */
.icon-map:before { content: '\e80c'; } /* '' */
.icon-download:before { content: '\e80d'; } /* '' */
.icon-menu:before { content: '\e80e'; } /* '' */
.icon-cross:before { content: '\e80f'; } /* '' */
